/* Colors */
/* Margins & paddings */
/* Breakpoints */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

img {
  max-width: 100%;
}

.our-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our-team__heading {
  font-size: 2rem;
  margin: 0;
}

.our-team__details {
  color: lightgray;
  text-align: center;
}

.our-team .team-members {
  max-width: 100%;
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  margin-top: 2rem;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 768px) {
  .our-team .team-members {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .our-team .team-members {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.team-member {
  padding-bottom: 1rem;
}

.team-member__image {
  position: relative;
}

.team-member__image::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.team-member__image:hover::after {
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.team-member__details, .team-member__contacts {
  padding: 0 1rem;
}

.team-member__name {
  font-weight: bold;
  margin: 1rem 0 0;
}

.team-member__position {
  color: #CC2936;
  margin: 0.75rem 0 1rem;
  font-weight: light;
}

.team-member__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team-member__contact {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  background-color: white;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.team-member__contact:not(:last-child) {
  margin-right: 1rem;
}

.team-member__contact span {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team-member__contact span svg {
  width: 1.25rem;
  height: 1.25rem;
}

.team-member__contact span svg path {
  fill: #CC2936;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.team-member__contact:hover svg path {
  fill: black;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}
