<section class="our-team">
    <h2 class="our-team__heading">{{ module.section_heading.section_title }}</h2>
    <div class="our-team__details">{{ module.section_heading.section_details }}</div>

    <div class="team-members">
        {% for member in module.team_members %}
        <div class="team-member">
                <div class="team-member__image">
                    <img src="{{ member.member_image.src }}" alt="{{ member.member_image.alt }}" loading="{{ member.member_image.loading }}">
                </div>
                <div class="team-member__details">
                    <div class="team-member__name">{{ member.member_name }} </div>
                    <div class="team-member__position">{{ member.member_position }}</div>
                </div>
                <div class="team-member__contacts">
                    {% if member.contact_info.email_address %}
                        <a class="team-member__contact team-member__contact--email"
                           href="mailto:{{ member.contact_info.email_addresse }}">
                            {% icon name='envelope'  style='solid' %}
                        </a>
                    {% endif %}
                
                    {% if member.contact_info.phone_number %}
                        <a class="team-member__contact team-member__contact--phone" 
                        href="tel:{{ member.contact_info.phone_number }}">
                            {% icon name='phone'  style='solid' %}
                        </a>
                    {% endif %}

                    {% if member.contact_info.linkedin %}
                        <a class="team-member__contact team-member__contact--linkedin" 
                           href="{{ member.contact_info.linkedin.href }}" 
                           target="{{ member.contact_info.linkedin.open_in_new_tab ? '_blank' : '_self' }}" 
                           rel="{{ member.contact_info.linkedin.no_follow ? 'no_follow' : 'follow' }}">
                            {% icon name='linkedin'  style='solid' %}
                        </a>
                    {% endif %}
                </div>
            </div>
        {% endfor %} 
    </div>
</section>