/* Colors */
$accent-color: #CC2936;


/* Margins & paddings */

$global-margin: 1rem;
$small-margin: .75rem;


/* Breakpoints */

$xs: 574px;
$sm: 768px;
$md: 992px;
$lg: 1200px;

@mixin material-shadow {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

@mixin transition {
    transition: all .2s ease-out;
}